@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap');

:root{
  --width-mobile:375px;
  --width-desktop:1440px;

  --Soft-orange: hsl(35, 77%, 62%);
  --Soft-red: hsl(5, 85%, 63%);

  --Off-white: hsl(36, 100%, 99%);
  --Grayish-blue: hsl(233, 8%, 79%);
  --Dark-grayish-blue: hsl(236, 13%, 42%);
  --Very-dark-blue: hsl(240, 100%, 5%);

  --fontSize-para:15px;

}

*{
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  overflow: hidden;
}
p{
  font-size: var(--fontSize-para);
  color: var(--Dark-grayish-blue);
  font-weight: 400;
}
body{
  font-family: 'Inter',sans-serif;
  width: var(--width-desktop);
}
header{
 text-align: center;
 margin: 20px 50px;
 padding: 0 45px;
}

header nav{
display: flex;
justify-content: space-between;
align-items: center;
height: 40px;

}
header nav ul  {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
ul li:last-child{
  margin-right: 0;
}
header nav ul li {
  margin-right: 40px;
}
main{
  display: flex;
  gap: 30px;
  margin-top: 30px;
}

section.left .top{
  margin-bottom: 20px;
}
.main-image{
  background: url(./images/image-web-3-desktop.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 300px;
  width: 868px;
  margin-bottom: 0;

 
}

section.left .bottom{
  display: flex;
}
section.left .bottom h1{
  font-size: 3.5rem;
  text-align: left;
  font-weight: 700;
  letter-spacing: -0.01em;
  line-height: 3.9rem;
}
section.left .bottom .bottom-right{
  text-align: left;
   padding-left:8rem;
   line-height: 1.5rem;
}
section.left .bottom .bottom-right p{
  line-height: 1.5rem;
margin-bottom: 56px;
}
section.left .bottom .bottom-right span{
  width: 50%;
  display: inline-block;
  justify-items: center;
  text-align: center;
  color: var(--Off-white);
  background-color: var(--Soft-red);
  padding: 5px;
  margin-top: 22px;
  letter-spacing: .15rem;
  border: 2px solid transparent;
}
section.left .bottom .bottom-right span:hover{
  cursor:pointer;
  background-color: var(--Very-dark-blue);
}
section.right{
  background-color: var(--Very-dark-blue);
  border: 2px solid transparent;
  padding: 10px 35px ;
}
section.right h2{
  text-align: left;
  color: var(--Soft-orange);
  font-size: 2.5rem;
  margin-bottom: 15px;
}
section.right h3{
  color: var(--Off-white);
  text-align: left;
  margin: 10px 0;
  letter-spacing: .05em;
}
section.right p{
  text-align: left;
  line-height: 20px;
  color: var(--Grayish-blue);
}
section.right .line{
 display: flex;
 text-align: center;
 margin: 20px 0;
 width: 100%;
 height: 0.07px;
 background-color:  var(--Dark-grayish-blue) ;

}
footer{
  margin-top: 30px;
}
footer{
  display: flex;
  justify-content: space-between;
  text-align: left;
}
.footer-class{
  display: flex;
  margin-right: 15px;
}
.footer-class:last-child{
  margin-right: 0;
} 
.retro-pc,.laptops,.gaming{

  height: 150px;
  width: 100px;
  background-repeat: no-repeat;
  background-size: contain;
}
.retro-pc{
    background-image: url(./images/image-retro-pcs.jpg);
}
.laptops{
  background-image: url(./images/image-top-laptops.jpg);
}
.gaming{
  background-image: url(./images/image-gaming-growth.jpg);
}
.retro-text,.laptops-text,.gaming-text{
  margin-left: 20px;
}
.number{
  font-size: 1.6rem;
  color: var(--Grayish-blue);
  font-weight: 700;
}
footer h4{
  font-weight: 800;
  margin: 5px 0;
}
footer p{
  line-height: 1.3rem;
  margin-bottom: 0;
}
.hover-orange:hover{
color: var(--Soft-red);
cursor: pointer;
}
.hover-yellow:hover{
  color: var(--Soft-orange);
  cursor: pointer;
}