@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap');

:root{
  --width-mobile:375px;
  --width-desktop:1440px;

  --Soft-orange: hsl(35, 77%, 62%);
  --Soft-red: hsl(5, 85%, 63%);

  --Off-white: hsl(36, 100%, 99%);
  --Grayish-blue: hsl(233, 8%, 79%);
  --Dark-grayish-blue: hsl(236, 13%, 42%);
  --Very-dark-blue: hsl(240, 100%, 5%);

  --fontSize-para:15px;

}

*{
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  overflow: hidden;
}
p{
  font-size: var(--fontSize-para);
  color: var(--Dark-grayish-blue);
  font-weight: 400;
}
body{
  font-family: 'Inter',sans-serif;
  width: var(--width-desktop);
}
header{
 text-align: center;
 margin: 20px 50px;
 padding: 0 45px;
}

header nav{
display: flex;
justify-content: space-between;
align-items: center;
height: 40px;

}
#hamburger{
  display: none;
}
#close-hamburger{
  /* display:; */
}
header nav ul  {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
ul li:last-child{
  margin-right: 0;
}
header nav ul li {
  margin-right: 40px;
}
header a{
  font-size: 15px;
}
main{
  display: flex;
  gap: 50px;
  margin-top: 30px;
}
 

section.left .top{
  margin-bottom: 20px;
}
.main-image{
  background: url(./images/image-web-3-desktop.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 300px;
  /* width: 868px; */
  margin-bottom: 0;

 
}

section.left .bottom{
  display: flex;
}
section.left .bottom h1{
  font-size: 3.5rem;
  text-align: left;
  font-weight: 700;
  letter-spacing: -0.01em;
  line-height: 3.9rem;
}
section.left .bottom .bottom-right{
  text-align: left;
   padding-left:8rem;
   line-height: 1.5rem;
}
section.left .bottom .bottom-right p{
  line-height: 1.5rem;
margin-bottom: 56px;
}
section.left .bottom .bottom-right span{
  width: 50%;
  display: inline-block;
  justify-items: center;
  text-align: center;
  color: var(--Off-white);
  background-color: var(--Soft-red);
  padding: 5px;
  margin-top: 22px;
  letter-spacing: .15rem;
  border: 2px solid transparent;
}
section.left .bottom .bottom-right span:hover{
  cursor:pointer;
  background-color: var(--Very-dark-blue);
}
section.right{
  background-color: var(--Very-dark-blue);
  border: 2px solid transparent;
  padding: 10px 38px ;
}
section.right h2{
  text-align: left;
  color: var(--Soft-orange);
  font-size: 2.5rem;
  margin-bottom: 15px;
}
section.right h3{
  color: var(--Off-white);
  text-align: left;
  margin: 10px 0;
  letter-spacing: .05em;
}
section.right p{
  text-align: left;
  line-height: 20px;
  color: var(--Grayish-blue);
}
section.right .line{
 display: flex;
 text-align: center;
 margin: 20px 0;
 width: 100%;
 height: 0.07px;
 background-color:  var(--Dark-grayish-blue) ;

}
footer{
  margin-top: 30px;
}
footer{
  display: flex;
  justify-content: space-between;
  text-align: left;
}
.footer-class{
  display: flex;
  margin-right: 140px;
}
.footer-class:last-child{
  margin-right: 0;
} 
.retro-pc,.laptops,.gaming{

  height: 150px;
  width: 100px;
  background-repeat: no-repeat;
  background-size: contain;
}
.retro-pc{
    background-image: url(./images/image-retro-pcs.jpg);
}
.laptops{
  background-image: url(./images/image-top-laptops.jpg);
}
.gaming{
  background-image: url(./images/image-gaming-growth.jpg);
}
.retro-text,.laptops-text,.gaming-text{
  margin-left: 20px;
  padding-bottom: 20px;
}
.number{
  font-size: 1.6rem;
  color: var(--Grayish-blue);
  font-weight: 700;
}
footer h4{
  font-weight: 800;
  margin: 3px 0;
}
footer p{
  /* line-height: 1.3rem; */
  font-size: 14px;
  margin-bottom: 0;
}
.hover-orange:hover{
color: var(--Soft-red);
cursor: pointer;
}
.hover-yellow:hover{
  color: var(--Soft-orange);
  cursor: pointer;
}


@media screen and (min-width:375px) {
  *{
    overflow-y:visible;
  }
  body{
    width: var(--width-mobile);
    border: 1px solid rgb(241, 6, 6);
  }
  header{
    padding: 15px;
    margin: 0;
  }
  header ul li{
    display: none;
  }
  header nav {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 5px;
  }
  header img{
    width: 42px;
  }
  header .logo{
    width:auto;
    text-align: left;
  }
  header #hamburger{
    display: inline-block;
    text-align: right;
    cursor: pointer;
  }
  main{
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 15px;

  }
  .main-image{
    background:url(./images/image-web-3-mobile.jpg);
    background-repeat:no-repeat;
    background-position:center;
    background-size:contain;
    height: 265px;
    margin-bottom: 0;
  }
  section.left .top{
    margin-bottom: 0;
  }

  section.left .bottom{
    display: grid;
    grid-template-columns: 1fr;
  }
  section.left .bottom h1{
    font-size: 2.6rem;
    font-weight: 900;
    letter-spacing: 0;
    line-height: 2.6rem;
    margin-top: 20px;
    overflow-y: hidden;
  }
  section.left .bottom .bottom-right{
    text-align: left;
     padding-left:0;
     line-height: 1.5rem;
  }
  
  section.left .bottom .bottom-right p{
    font-size: 13.8px;
    line-height: 1.5rem;
  margin-bottom: 0px;
  margin-top: 20px;
  }
  
  /* section.left .bottom .bottom-right span{
    width: 50%;
    display: inline-block;
    justify-items: center;
    text-align: center;
    color: var(--Off-white);
    background-color: var(--Soft-red);
    padding: 5px;
    margin-top: 22px;
    letter-spacing: .15rem;
    border: 2px solid transparent;
  } */
  
  section.right{
    padding: 20px 25px ;
  }
  section.right h2{
    text-align: left;
    color: var(--Soft-orange);
    font-size: 1.8rem;
    margin-bottom: 15px;
  }
  
  
  footer{
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 50px;
  }
  .footer-class{
    display: grid;
    grid-template-columns: 1fr 2fr;
    /* flex-wrap: wrap; */
    margin-right: 0px;
  }

  .retro-text,.laptops-text,.gaming-text{
    margin-left: 16px;
    
  }
  .number{
    font-size: 1.75rem;
  }
  footer h4{
    font-weight: 800;
    margin: 6px 0 ;
  }
  footer p{
    line-height: 1.5rem; 
    font-size: 14px;
    margin-bottom: 0;
  }
 
  
}